<%- include("includes/head") %> 
<img src="/System-users.svg" alt="users">
<h1>Hello</h1>
<a href="/users/add" class="btn btn-primary">Add User</a>
<a href="/users/view" class="btn btn-warning">View User</a>
<%- include("includes/tail") %> 
